.my-banner{
    width: 100%;
    font-size: 200%;
    text-align: center;
    color: white;
    background-color: navy;
}

li{
    padding-right: 15px;
}

.modal-pre-auth{
    display: block;
}

.modal-post-auth{
    display: none;
}

input {
    display: block;
    margin: 8px 0;
    padding: 8px 2px;
    border-width: 0 0 2px 0;
    width: 100%;
}

.user-login{
    display: block;
}

.admin-login{
    display: none;
}

.text-center{
    text-align: center;
}

textarea {
    width: 75%;
    min-height: 150px;
}


/*
https://jsfiddle.net/shadiabuhilal/0kwnb7ph/3/
*/
.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
  }

  .rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}

